:root {
  --body-background-color: #0044a5;
  --body-text-color: #f0ffff;
  --card-background-color: #0f296;
  --nav-background-color: #003b8f;
  --nav-border-bottom-color: #08865d;
  --nav-current-border-bottom-color: #08865d;
}
